body > header[role="banner"] {
  background: $header-bg image-url('header_bg.png') top left;
  border-top: solid 5px #1f2323;
  hgroup {
    h1 {
      font-family: Lucida Grande, Helvetica, Arial, Verdana, Sans-serif;
      font-size: 1.8em;
      font-style: italic;
      margin-bottom: 0;
      a, a:visited, a:hover {
        color: $title_color;
        text-decoration: none;
      }
    }
    h2 {
      padding-top: 0.6em;
      font-family: Lucida Grande, Helvetica, Arial, Verdana, Sans-serif;
      @extend .sans;
      font-size: 0.8em;
      font-style: italic;
      color: $subtitle-color;
      font-weight: normal;
    }
  }
}
